<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureParametres</servlet-name>
        <servlet-class>LectureParametres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoURL</servlet-name>
        <servlet-class>InfoURL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureParametresAvecStockage</servlet-name>
        <servlet-class>LectureParametresAvecStockage</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>Solde</servlet-name>
        <servlet-class>Solde</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherDepot</servlet-name>
        <servlet-class>AfficherDepot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutDepot</servlet-name>
        <servlet-class>AjoutDepot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureParametres</servlet-name>
        <url-pattern>/LectureParametres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoURL</servlet-name>
        <url-pattern>/InfoURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureParametresAvecStockage</servlet-name>
        <url-pattern>/LectureParametresAvecStockage</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Solde</servlet-name>
        <url-pattern>/Solde</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherDepot</servlet-name>
        <url-pattern>/AfficherDepot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutDepot</servlet-name>
        <url-pattern>/AjoutDepot</url-pattern>
    </servlet-mapping>
</web-app>
